.certificate__ImgList {
    gap: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
}

.certificate__ImgList img {
    border-radius: 14px;
    padding: 0;
}

.certificate__ImgList img:hover {
    transform: scale(1.5) !important;
    z-index: 1;
}