#section__Projects {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projects__Content {
    width: 95%;
    margin: auto;
    color: inherit;
}

.projects__Item {
    transition: all 0.25s ease-in-out;
    position: relative;
}

.custom-card-inner {
    position: relative;
}

.overlay::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0%;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 18px;
    transition: all 0.5s ease;
}

.projects__Item:hover {
    transform: scale(1.05);
    margin: 0 30px;
}

.projects__Item:hover .overlay::before {
    opacity: 50%;
}

.projects__Item:hover .custom-card-details {
    opacity: 1;
    transform: translateY(0);
}

.custom-card-details {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.5s ease;
}