.home {
    overflow: hidden;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://raw.githubusercontent.com/vpgiang0205/Portfolio.io/main/images/wallpaperflare.com_wallpaper.jpg');
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;
}

.content {
    background-color: var(--primary-bg-color);
    z-index: 2;
    position: relative;
}

.projects__Content {
    margin: auto;
    color: inherit;
}

.projects__Item {
    margin: 10px 0;
    transition: all 0.25s ease-in-out;
    position: relative;
}

.custom-card-inner {
    position: relative;
}

.overlay::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0%;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 18px;
    transition: all 0.5s ease;
}

.projects__Item:hover {
    transform: scale(1.05);
}

.projects__Item:hover .overlay::before {
    opacity: 50%;
}

.projects__Item:hover .custom-card-details {
    opacity: 1;
    transform: translateY(0);
}

.custom-card-details {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.5s ease;
}

.projects__Datetime {
    margin-top: 10px;
    margin-left: 20px;
}

.custom-card__ViewBtn {
    z-index: 2;
}