.skills__Icons {
  position: relative;
}

.icon {
  margin: 10px 0;
  gap: 20px;
  display: flex;
  align-items: center;
}

.icon-html {
  color: #e44d26;
  font-size: 90px;

}

.icon-css {
  color: #0070ba;
  font-size: 90px;

}

.icon-react {
  color: #39adfa;
  font-size: 90px;

}

.icon-js {
  color: #e5a221;
  font-size: 90px;

}

.icon-sass {
  color: #ce679a;
  font-size: 90px;

}

.icon-php {
  color: #777bb3;
  font-size: 90px;

}

.icon-bootstrap {
  color: #ae00ff;
  font-size: 90px;

}

.icon-github {
  color: black;
  font-size: 50px;

}

.icon-sourcetree {
  color: #039aff;
  font-size: 50px;

}